body {
  font-family: sans-serif;
  text-align: center;
  margin: 0;
  background-color: #f0f0f0;
}

#board {
  display: grid;
  grid-template-columns: repeat(8, 60px);
  grid-template-rows: repeat(8, 60px);
  margin: 20px auto;
  width: 480px;
  height: 480px;
  border: 2px solid #333;
}

.square {
  width: 60px;
  height: 60px;
}

.dark {
  background-color: #333;
}

.light {
  background-color: #eee;
}

.piece {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 10px auto;
}

.red {
  background-color: white;
}

.black {
  background-color: black;
}
